In [6]:
import pandas as pd
import csv
from datasets import load_dataset

In [18]:
with open('data/train.src.cleaned', 'r', encoding='utf-8') as file:
    articles = file.readlines()

with open('data/train.tgt', 'r', encoding='utf-8') as file:
    summaries = file.readlines()

articles = [line.strip() for line in articles]
summaries = [line.strip() for line in summaries]

# create dataframes
articles_df = pd.DataFrame(articles, columns=['document'])
summaries_df = pd.DataFrame(summaries, columns=['summary'])

In [19]:
combined_df = pd.concat([articles_df, summaries_df], axis=1)

print(combined_df.head())

                                            document  \
0  National Archives NEWLINE_CHAR NEWLINE_CHAR Ye...
1  LOS ANGELES (AP) — In her first interview sinc...
2  GAITHERSBURG, Md. (AP) — A small, private jet ...
3  Tucker Carlson Exposes His Own Sexism on Twitt...
4  A man accused of removing another man's testic...

                                             summary
0  – The unemployment rate dropped to 8.2% last m...
1  – Shelly Sterling plans "eventually" to divorc...
2  – A twin-engine Embraer jet that the FAA descr...
3  – Tucker Carlson is in deep doodoo with conser...
4  – What are the three most horrifying words in ...

In [15]:
# par librairie datasets de huggingface
dataset = load_dataset("multi_news")
train_df = dataset['train'].to_pandas()

In [16]:
train_df

,document,summary
0,"National Archives \n \n Yes, it’s that time ag...",– The unemployment rate dropped to 8.2% last m...
1,LOS ANGELES (AP) — In her first interview sinc...,"– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...
3,Tucker Carlson Exposes His Own Sexism on Twitt...,– Tucker Carlson is in deep doodoo with conser...
4,A man accused of removing another man's testic...,– What are the three most horrifying words in ...
...,...,...
44967,"More than 670,000 copies of the Pearls’ self-p...",– The deaths of three children have been linke...
44968,Seeking out cost-conscious consumers who have ...,"– Apple is hoping its new, cheaper iPhone can ..."
44969,Click to email this to a friend (Opens in new ...,"– January Jones, who plays the beleaguered wif..."
44970,"BARRINGTON, R.I. (AP) — Women clad in yoga pan...",– A Rhode Island man who penned a letter to th...
44971,"Based on a ‘real’ story, the hit John Travolta...",– The Guardian revisits a fascinating piece of...