In [1]:
import pandas as pd
import json
from datasets import load_dataset

/Users/lydia/miniconda3/envs/extra-info/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
with open('scraped_data.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data[:5])
df

,url,title,content
0,https://www.lemonde.fr/societe/article/2024/04...,Manifestation propalestinienne à Sciences Po P...,"Le premier ministre, Gabriel Attal, a affirmé ..."
1,https://www.lemonde.fr/international/article/2...,"Au Royaume-Uni, un député conservateur passe d...","Le député conservateur Dan Poulter, ancien min..."
2,https://www.lemonde.fr/international/article/2...,"En Irak, une nouvelle loi anti-LGBTQ+ prévoit ...","Le Parlement irakien a adopté, samedi 27 avril..."
3,https://www.lemonde.fr/sport/article/2024/04/2...,"Ligue 1 : le PSG, accroché par Le Havre, doit ...",Douche froide sur le Parc des Princes. Sous un...
4,https://www.lemonde.fr/politique/article/2024/...,Trois nouveaux conseillers de Prisca Thevenot ...,L’hémorragie continue : après les premiers dép...

In [3]:
# par librairie datasets de huggingface
dataset = load_dataset("multi_news")
train_df = dataset['train'].to_pandas()

In [4]:
train_df

,document,summary
0,"National Archives \n \n Yes, it’s that time ag...",– The unemployment rate dropped to 8.2% last m...
1,LOS ANGELES (AP) — In her first interview sinc...,"– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...
3,Tucker Carlson Exposes His Own Sexism on Twitt...,– Tucker Carlson is in deep doodoo with conser...
4,A man accused of removing another man's testic...,– What are the three most horrifying words in ...
...,...,...
44967,"More than 670,000 copies of the Pearls’ self-p...",– The deaths of three children have been linke...
44968,Seeking out cost-conscious consumers who have ...,"– Apple is hoping its new, cheaper iPhone can ..."
44969,Click to email this to a friend (Opens in new ...,"– January Jones, who plays the beleaguered wif..."
44970,"BARRINGTON, R.I. (AP) — Women clad in yoga pan...",– A Rhode Island man who penned a letter to th...
44971,"Based on a ‘real’ story, the hit John Travolta...",– The Guardian revisits a fascinating piece of...