In [1]:
import pandas as pd
import json
from datasets import load_dataset

/Users/lydia/miniconda3/envs/extra-info/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
with open('scraped_data.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data)
df["id"] = df.index
df[:10]

,url,title,theme,content,topic,id
0,https://www.cbsnews.com/news/israel-hamas-war-...,"Palestinians mark 76th ""Nakba,"" as the raging ...",World,"Watch CBS News\nByImtiaz Tyab,Agnes Reau\nUpda...","[War, Hamas, Israel, Palestinians, Gaza Strip,...",0
1,https://www.cbsnews.com/news/college-professor...,College professor to stand trial in death of p...,Crime,"Watch CBS News\nMay 16, 2024 / 6:54 AM EDT/ CB...","[Hamas, Israel, Protests, Gaza Strip]",1
2,https://www.cbsnews.com/news/gaza-pier-us-mili...,U.S. military finishes installing offshore pie...,World,Watch CBS News\nByEleanor Watson\nUpdated on: ...,"[War, Hamas, Israel, Joe Biden, Palestinians, ...",2
3,https://www.cbsnews.com/news/israel-weapons-tr...,U.S. poised to send $1 billion in weapons to I...,Politics,"Watch CBS News\nByAlan He,Ellis Kim,Kristin Br...",[Israel],3
4,https://www.cbsnews.com/news/new-miss-usa-crow...,New Miss USA Savannah Gankiewicz crowned after...,U.S.,"Watch CBS News\nByCaitlin O'Kane\nMay 16, 2024...","[Miss USA, Hawaii]",4
5,https://www.cbsnews.com/news/maui-wildfires-ha...,They survived Maui's deadly wildfires. Now man...,U.S.,"Watch CBS News\nByLi Cohen\nMay 16, 2024 / 12:...","[Hawaii Wildfires, Maui, Lahaina, Hawaii]",5
6,https://www.cbsnews.com/boston/news/hottest-su...,"Summer of 2023 was the hottest in 2,000 years ...",World,Watch CBS News\nByLi Cohen\nUpdated on: May 1...,"[Climate Change, Science]",6
7,https://www.cbsnews.com/boston/news/museum-of-...,"Museum of Science in Boston announces ""major r...",Local News,Watch CBS News\nByNeal Riley\nUpdated on: May...,[Boston],7
8,https://www.cbsnews.com/boston/news/david-andr...,David Andrews reportedly agrees to contract ex...,Sports,Watch CBS News\nByMatt Geagan\nUpdated on: Ma...,[],8
9,https://www.cbsnews.com/boston/news/edelman-gr...,"Edelman, Gronkowski parody ""Good Will Hunting""...",Sports,"Watch CBS News\nByMatt Geagan\nMay 16, 2024 / ...",[],9

In [17]:
# par librairie datasets de huggingface pour corpus de référence
dataset = load_dataset("multi_news")
train_df = dataset['train'].to_pandas()

In [18]:
train_df

,document,summary
0,"National Archives \n \n Yes, it’s that time ag...",– The unemployment rate dropped to 8.2% last m...
1,LOS ANGELES (AP) — In her first interview sinc...,"– Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) — A small, private jet ...",– A twin-engine Embraer jet that the FAA descr...
3,Tucker Carlson Exposes His Own Sexism on Twitt...,– Tucker Carlson is in deep doodoo with conser...
4,A man accused of removing another man's testic...,– What are the three most horrifying words in ...
...,...,...
44967,"More than 670,000 copies of the Pearls’ self-p...",– The deaths of three children have been linke...
44968,Seeking out cost-conscious consumers who have ...,"– Apple is hoping its new, cheaper iPhone can ..."
44969,Click to email this to a friend (Opens in new ...,"– January Jones, who plays the beleaguered wif..."
44970,"BARRINGTON, R.I. (AP) — Women clad in yoga pan...",– A Rhode Island man who penned a letter to th...
44971,"Based on a ‘real’ story, the hit John Travolta...",– The Guardian revisits a fascinating piece of...